<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CD4.ExcelInterface.QuantStudio5.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <CD4.ExcelInterface.QuantStudio5.Properties.Settings>
      <setting name="Config" serializeAs="String">
        <value>{"MainFormTitle":"CD4 Interface (QuantStudio5)","AnalyserName":"QuantStudio5-01","ExcelFileDirectory":"C:\\Logs\\","ExportPath":"C:\\Export\\","DataExtension":"json","ControlFileExtension":"ok","LisExportExtension":"*.xlsx","BatchId":{"ScanColumnIndex":0,"DataColumnIndex":1,"CsvKeyWords":"Experiment File Name, Experiment Name"},"DataRange":{"AutoDetectStartRow":{"Active":true,"Keyword":"Well","ColumnIndex":0},"StartRow":45,"EndRow":110},"SidColumn":3,"SamplePositionColumn":1,"ExcludeRows":[2],"PositiveControlSID":"","NegativeControlSID":"","Measurements":[{"TestCodeColumn":4,"MeasurementValueColumn":8,"Unit":""}]}</value>
      </setting>
    </CD4.ExcelInterface.QuantStudio5.Properties.Settings>
  </userSettings>
</configuration>