<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CD4.AstmInterface.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <add key="serilog:minimum-level" value="Verbose" />
    <add key="serilog:write-to:File.path" value=".\Logs\AstmLinkTester_.log" />
    <add key="serilog:write-to:File.rollingInterval" value="Day" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <CD4.AstmInterface.My.MySettings>
      <setting name="ApplicationTitle" serializeAs="String">
        <value>LIS2A2 Server</value>
      </setting>
      <setting name="DataEncoding" serializeAs="String">
        <value>windows-1253</value>
      </setting>
      <setting name="IpAddress" serializeAs="String">
        <value>192.168.100.7</value>
      </setting>
      <setting name="IsServer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MainViewTitle" serializeAs="String">
        <value>ASTM Tester Client</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>48569</value>
      </setting>
      <setting name="SocketStatus" serializeAs="String">
        <value>NA</value>
      </setting>
      <setting name="EthernetOrSerial" serializeAs="String">
        <value>Serial</value>
      </setting>
      <setting name="ComPort" serializeAs="String">
        <value>COM2</value>
      </setting>
    </CD4.AstmInterface.My.MySettings>
  </userSettings>
</configuration>