<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="slf4net" type="slf4net.Configuration.SlfConfigurationSection, slf4net"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
      <section name="CD4.AstmInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <slf4net>
    <factory type="slf4net.log4net.Log4netLoggerFactory, slf4net.log4net">
      <factory-data>
        <watch value="true"/>
      </factory-data>
    </factory>
  </slf4net>

  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="C:\Logs\CD4.AstmInterface_RAW_%date{yyyyMMdd}.log"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="30"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ISO8601} [%logger] %level - %message%newline%exception"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
  </log4net>


  <userSettings>
    <CD4.AstmInterface.Properties.Settings>
      <setting name="ConnectionMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ComPort" serializeAs="String">
        <value>COM50</value>
      </setting>
      <setting name="BaudRate" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="DataBits" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="StopBits" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Parity" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HandShake" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IsServer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IpAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="Port" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ExportBasepath" serializeAs="String">
        <value>C:\Export</value>
      </setting>
      <setting name="Extension" serializeAs="String">
        <value>json</value>
      </setting>
      <setting name="ControlExtension" serializeAs="String">
        <value>ok</value>
      </setting>
    </CD4.AstmInterface.Properties.Settings>
  </userSettings>
</configuration>